* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity:0.6;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.3s;
}

.navbar a:hover {
    color: grey;
}

.hero {
    position: relative;
    background: url('movie.png') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-content {
    max-width: 750px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}


.carousel-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-width: none;
}

.carousel-scroll::-webkit-scrollbar {
    display: none;
}

.poster {
    width: 30vw;
    min-width: 180px;
    max-width: 250px;
    height: auto;
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.1); }

@media (max-width: 768px) {
            .poster {
                width: 45vw;
            }
        }
    
@media (max-width: 480px) {
            .poster {
                width: 90vw;
            }
        }
